{% extends 'base.html' %}

{% block contenido %}
<h2>Crear Usuario</h2>

<form method="POST" action="{{ url_for('usuarios.crear_usuario') }}">
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input class="form-control" type="text" name="nombre" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Correo</label>
        <input class="form-control" type="email" name="correo" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Rol</label>
        <input class="form-control" type="text" name="rol" required>
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
    <a href="{{ url_for('usuarios.listar_usuarios') }}" class="btn btn-secondary">Volver</a>
</form>
{% endblock %}

