<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi Aplicación Web</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    </head>
  <body>

    <!-- Barra de navegación -->
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Inicio</a></li>
            <li><a href="{{ url_for('clientes') }}">Clientes</a></li>
            <li><a href="{{ url_for('productos') }}">Productos</a></li>
            <li><a href="{{ url_for('facturas') }}">Facturas</a></li>
        </ul>
    </nav>

    <!-- Contenido principal -->
    <div class="container">
        {% block content %}
        <!-- Aquí se inyecta el contenido específico de cada página -->
        {% endblock %}
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='scripts/factura.js') }}"></script>

</body>
</html>
