{% extends 'base.html' %}

{% block contenido %}
<h2>Nuevo Cliente</h2>

<form method="POST" action="{{ url_for('cliente_bp.guardar_cliente') }}">
    <label for="identificacion">Identificación:</label><br>
    <input type="text" name="identificacion" value="{{ cliente.identificacion if cliente else '' }}" required><br><br>

    <label for="nombre">Nombre:</label><br>
    <input type="text" name="nombre" value="{{ cliente.nombre if cliente else '' }}" required><br><br>

    <label for="correo">Correo:</label><br>
    <input type="email" name="correo" value="{{ cliente.correo if cliente else '' }}" required><br><br>

    <label for="telefono">Teléfono:</label><br>
    <input type="text" name="telefono" value="{{ cliente.telefono if cliente else '' }}"><br><br>

    <input type="submit" value="{{ 'Actualizar' if cliente else 'Guardar' }}">
</form>
{% endblock %}
